<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="example suite 1" parallel="tests" thread-count="2" verbose="1" >

    <test name="Regression suite 1" >

        <classes>
            <class name="SanityCases.AddItemToCart"></class>
            <class name="SanityCases.ChangeItemQuantity"></class>
            <class name="SanityCases.DeleteItemFromCart"></class>
            <class name="SanityCases.SaveItemForLater"></class>
            <class name="SanityCases.MoveItemBackToCart"></class>
            <class name="SanityCases.CreateAndAddItemsToWishListPage"></class>

        </classes>
    </test>

</suite>

